$red_color: #dc54ff;
$blue_color: #5165fd;
$white_color: #fff;
$yellow_color: #f2a613;
$black_color: #333;
$bg_color: linear-gradient(127deg, #f9f302 0%, #f2a613 91%);
$shadow: 0 2px 48px 0 rgb(0 0 0 / 10%);