.eventIcon{
    display: block;
    margin: auto;
    width: fit-content;

    .more{
      > a{
        color: colors.$black_color;
        transition: variables.$trans;
      }
      
      &:hover{
        > a{
          color: colors.$white_color;
        }  
      }
    }
}
