.events{
    margin: 35px auto;

    .post{
        > img{
            display: block;
            margin: 35px auto;
            border-radius: variables.$radius;
            box-shadow: colors.$shadow;
        }

        .content{
            padding: 0 60px;
        }
    }

}

.create_post{
    display: block;
    margin: 8% auto;

    .selection{
        cursor: pointer;
    }

    .more{
        padding: 12.5px 55px;
        border-radius: 8px;
    }

    .select_inpts{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        align-items: center;
    }
}

.back_to_home{
    position: fixed;
    bottom: 40px;
    right: 100px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(135deg, #f09c15, #fbff00);
    color: #333;
    border: 0;
    border-radius: 20px;
    visibility: visible;
    padding: 12.5px 25px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    animation: 1.5s ease-in-out infinite float;
    &:hover{
        box-shadow: 0 0 50px -10px rgb(240 200 21 / 65%)
    }
    
    > span{
        padding-left: 15px;
    }
}
@media (max-width: 767px) {
    .back_to_home{
        left: 15px;
        right: unset;
    }
}