@media (max-width: 767px) {
    .back_to_home > span{
        display: none;
    }
    #share{
        width: 100%;
    }
}

@-webkit-keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0px);}
}
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0px);}
}