@media (max-width: 1197px) {
    .navbar{
        .links > li > a{
            font-size: variables.$p_normal_size;
        }
    }
}
@media (max-width: 1047px) {
    .navbar{
        .links > li{
            padding: 5px 0;
        }
    }
}
@media (max-width: 1023px) {
    .navbar {
        #top_screen > img{
            width: 60%;
        }
    }
}
@media (max-width: 991px) {
    .navbar {
        .navbar-brand{
            display: block;
            margin: 0 0 auto 0;
        }

        .navbar_dark{
            background-color: colors.$yellow_color;
        }
    }
}
@media (max-width: 767px) {
    .navbar-brand{
        > img{
            width: 50%;
            float: left;
        }
    }
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
