@media (max-width: 991px) {
    .leaders {
        .team_lead >{
            justify-content: center;
    
            > a {
                width: 100%;
            }
        } 
    }
        
    .profile{
        h1{
            margin-bottom: 30px;
        }  
        
        .profile_img{
            flex-direction: column;
            align-items: flex-start !important;
    
            > img{
                width: 40% !important;
                border-radius: 12px !important;
            }
    
            > .profile_info{
                padding-right: 0 !important;
            }
        }

        .profile_txt .civil{
            flex-wrap: wrap;
        }
    } 
}

@media (max-width: 767px) {
    .leaders {
        margin: 100px auto;
        padding: 0 20px;
    }
}