@media (max-width: 1799px) {
    .video{
        iframe{
            width: 600px;
        }
    }
}
@media (max-width: 1379px) {
    .video{
        iframe{
            width: 500px;
        }
    }
}
@media (max-width: 1179px) {
    .video{
        iframe{
            width: 400px;
        }
    }
}
@media (max-width: 1023px) {
    .video{
        iframe{
            width: 100%;
        }
    }
    .we_desc{
        &::before{
            display: none;
        }
    }
}

@-webkit-keyframes fly {
    0% { transform: translate(0, 0); }
    50% { transform: translate(10px, -10px); }
    100% { transform: translate(0, 0);}
}
@keyframes fly {
    0% { transform: translate(0, 0); }
    50% { transform: translate(10px, -10px); }
    100% { transform: translate(0, 0);}
}