@media (max-width: 1024px) {
    .we .about{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .we{
        padding: 0 50px;
        
        .video iframe{
            width: 100%;
        }   
    }
}
@media (max-width: 767px) {
    .we{
        padding: 0 20px;
        margin-top: 90px;
    }
}