@media (max-width: 1199px) {
    .news .news_txt h1 {
        font-size: 50px;
    }
    .news .news_txt #first_desc {
        font-size: 25px;
    }
    .news .news_txt #second_desc {
        font-size: 20px;
    }
    .news .news_txt .more{
        margin-top: 20px;
    }
    .news .card{
        .card-title{
            font-size: 20px;
        }
        .card-text{
            font-size: 15px;
            line-height: 2;
        }
    }
}
@media (max-width: 991px) {
    .news .news_txt #first_desc {
        font-size: 20px;
    }
    .news .news_txt #second_desc {
        font-size: 17px;
    }
    .news .news_txt .more{
        padding: 10px 25px;
    }
    .news .scroll_down{
        width: 10%;
    }
    .news .card{
        margin-bottom: 15px;
    }
}
@media (max-width: 767px) {
    .news{
        margin-top: 120px;
    }
    .news .news_txt h1{
        text-align: center;
    }
    .news .news_txt .more{
        margin: 5% auto;
        display: block;
        width: 50%;
        text-align: center;
    }
    .navbar .navbar-brand{
        width: 25%;
    }
    .news .scroll_down {
        width: 15%;
    }
}
@media (max-width: 600px) {
    .navbar .navbar-brand{
        width: 35%;
    }
}
@media (max-width: 575px) {
    .news .card{
        width: 80%;
        margin: auto;
        margin-bottom: 35px;
    }
    .news .news_tit{
        &::after{
            width: 36%;
            right: 7.5%;
        } 
        
        h2{
            text-align: center;
        }
    }
}

@-webkit-keyframes swap {
    0% { transform: translateX(0); }
    100% { transform: translateX(10px); }
}
@keyframes swap {
    0% { transform: translateX(0); }
    100% { transform: translateX(10px); }
}
@-webkit-keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0px);}
}
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0px);}
}
