@media (max-width: 767px) {
    .swipping{
        padding: unset;
        &::before{
            right: -9px;
        }
        &::after{
            left: -9px;
        }
    }
    .swiper-button-prev,
    .swiper-button-next{
        display: none
    }
}