.news{
    .news_tit{
        text-align: center;

        h2 {
            font-size: 50px;
            margin: 50px 0;

            > span{
                background-image: linear-gradient(111deg,#5367ff,#e553ff);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: 100%;
                    width: 60%;
                    text-align: center;
                    background: url('../../../images/line.svg') center/contain no-repeat;
                    transform: translateX(-50%) rotate(0);
                    -webkit-transform: translateX(-50%) rotate(0);
                    z-index: -1;
                }
            }
        }
    }
    
    .card{
        transition: variables.$trans;
        &:hover{
            box-shadow: colors.$shadow;
            .card-img-top{
                filter: grayscale(0%);
            }    
        }

        .card-img-top{
            transition: variables.$trans;
            filter: grayscale(50%);
        }

        .card-title{
            font-size: 30px;
            font-weight: 500;
        }

        .card-text{
            color: #4a4a4a;
            margin-bottom: 25px;
        }
        
        q{
            display: block;
        }

        .link{
            transition: variables.$trans;
            &:hover{
                text-decoration: underline;
                color: colors.$yellow_color;
            }
        }
    }

    #postsMore{
        display: block;
        margin: auto;
        box-shadow: colors.$shadow;
    }
}

.more{
    background-image: linear-gradient(135deg,#f09c15,#fbff00);
    color: colors.$black_color;
    border: 0;
    border-radius: variables.$radius;
    visibility: visible;
    padding: 12.5px 25px;
    font-size: 16px;
    font-weight: 600;
    transition: variables.$trans;
    &:hover{
        box-shadow: 0 0 50px -10px rgb(240 200 21 / 65%);
        color: colors.$white_color;
    }
}