.footer {
  margin-top: 150px;
  padding: 10px 0;
  background-color: colors.$black_color;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top: 1px solid colors.$yellow_color;
  background: radial-gradient(
      circle at 0 40%,
      rgba(56, 109, 179, 0.17),
      hsl(0deg 100% 50% / 0%) 25%
    ),
    radial-gradient(
      circle at 100% 40%,
      rgba(104, 51, 226, 0.17),
      hsl(0deg 100% 50% / 0%) 25%
    ),
    radial-gradient(
      circle at 50% 10%,
      rgba(49, 252, 255, 0.17),
      hsl(0deg 100% 50% / 0%) 25%
    );

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 50px 15px 0;

    > img {
      width: 10%;
    }

    > h4 {
      color: colors.$yellow_color !important;
      font-size: 32px;
    }

    > small {
      font-family: "reqaa";
      font-size: 18px;
    }
  }

  .links {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
    ul {
      line-height: 2.5;

      li > a {
        text-align: center;
        color: colors.$yellow_color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .social {
    .icon_contact {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 50px;
      > a {
        padding: 0px;

        > img {
          display: block;
          margin: 0 auto;
          width: 60%;
        }
      }
    }
  }
}

.up {
  display: none;
  transform: rotate(180deg);
  width: 3%;
  position: fixed;
  bottom: 15px;
  left: 15px;
  cursor: pointer;
}
