.we {
  margin-top: 200px;
  padding: 0 100px;

  .swipe_slides {
    position: relative;

    .swiper {
      cursor: pointer;
      width: 100%;
    }
  }

  .we_desc {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -20%;
      left: 5%;
      background: url("/assets/images/rocket.svg") 0 0/100% 100% no-repeat;
      text-align: center;
      height: 70px;
      width: 70px;
      z-index: -1;
      animation: 1s ease-in-out infinite fly;
    }

    p {
      line-height: 2.5;
      padding: 10px 0;
    }
  }

  .about {
    width: 80%;
    margin: 0 auto;

    > .title {
      text-align: center;

      h1 {
        font-size: 70px;
        margin: 50px 0;

        > span {
          background-image: linear-gradient(111deg, #5367ff, #e553ff);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    .info {
      .info_txt {
        h3 {
          font-weight: 500;
          font-size: 35px;
        }

        p {
          font-size: 20px;
          line-height: 2.5;
          margin: 25px 0;
        }
      }

      .info_img {
        margin: 0 auto;
        > img {
          animation: mover 1s infinite alternate;
        }
      }
    }
  }

  .service {
    width: 80%;
    margin: 0 auto;

    .logo {
      position: relative;
      &::before {
        background: url("/assets/images/underline2.svg") center/contain
          no-repeat;
        z-index: -1;
        transform: translateY(-50%) rotate(0);
        -webkit-transform: translateY(-50%) rotate(0);
        top: 50%;
        left: 58%;
        height: 100%;
        position: absolute;
        width: 20%;
        text-align: center;
        content: "";
      }
      &::after {
        background: url("/assets/images/underline2.svg") center/contain
          no-repeat;
        z-index: -1;
        transform: translateY(-50%) rotate(0);
        -webkit-transform: translateY(-50%) rotate(0);
        top: 50%;
        right: 58%;
        height: 100%;
        position: absolute;
        width: 20%;
        text-align: center;
        content: "";
      }

      img {
        border: 8px solid colors.$blue_color;
        border-radius: 50%;
        padding: 25px;
        display: block;
        margin: auto;
        box-shadow: colors.$shadow;
      }
    }

    .service_details {
      margin: -82px auto;

      .committes,
      .wings {
        background: #fece2f;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        width: 20%;
        margin-top: -125px;

        h4 {
          background: colors.$black_color;
          color: colors.$white_color;
          width: 100%;
          padding: 15px 10px;
          font-size: 20px;
          box-shadow: colors.$shadow;
          right: 0;

          span {
            padding-right: 10px;
          }
        }

        .committe_data,
        .wing_data {
          line-height: 2;
          height: 190px;
          padding-right: 25px;
          padding-bottom: 25px;
          padding-top: 10px;
        }
      }

      #sec_info {
        float: left;
        margin-top: -240px;
      }
    }
  }

  .service_query {
    display: none;
  }

  .goals {
    margin: 10% 0 0;

    .title {
      h2 {
        font-size: 40px;
        padding: 35px 0;
        text-align: center;
        position: relative;
        &::before {
          background: url("/assets/images/underline2.svg") center/contain
            no-repeat;
          z-index: -1;
          transform: translateY(-50%) rotate(0);
          -webkit-transform: translateY(-50%) rotate(0);
          top: 50%;
          left: 58%;
          height: 100%;
          position: absolute;
          width: 10%;
          text-align: center;
          content: "";
        }
        &::after {
          background: url("/assets/images/underline2.svg") center/contain
            no-repeat;
          z-index: -1;
          transform: translateY(-50%) rotate(0);
          -webkit-transform: translateY(-50%) rotate(0);
          top: 50%;
          right: 58%;
          height: 100%;
          position: absolute;
          width: 10%;
          text-align: center;
          content: "";
        }

        span {
          font-size: 40px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: -170%;
            left: 50%;
            background: url("/assets/images/star.svg") center/contain no-repeat;
            text-align: center;
            height: 150%;
            width: 150%;
            z-index: -1;
            transform: translateX(-50%) rotate(0);
            -webkit-transform: translateX(-50%) rotate(0);
          }
        }
      }
    }

    .info {
      width: 80%;
      margin: auto;

      p {
        font-size: 20px;
        line-height: 2;
        padding-right: 50px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          right: 0;
          background: url("/assets/images/star.svg") no-repeat;
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}
