@media (max-width: 1399px) {
    .team .about_txt p {
        font-size: 17px;
    }
}
@media (max-width: 1199px) {
    .team .about_txt p {
        font-size: 14px;
    }
}
@media (max-width: 991px) {
    .team .team_info li{
        font-size: 12px;
    }
    .about_txt{
        width: 100%;
    }
    .team .swipe_slides{
        width: 60%;

        .swiper{
            position: relative !important;
        }
    }
    .team_img{
        display: none;
    }
}
@media (max-width: 767px) {
    .team{
        padding: 50px 0;
    }
    .team .about_txt .more{
        text-align: center;
        margin: auto;
        display: block;
    }
}
@-webkit-keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0px);}
}
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0px);}
}
