.excellence{
    margin: 300px auto 100px auto;

    .excellence_tit h2{
        margin: 0 0 30px;
        font-size: 50px;
        text-align: center;

        span{
            background-image: linear-gradient(111deg, #5367ff, #e553ff);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                left: 62%;
                height: 100%;
                width: 70%;
                text-align: center;
                background: url('../../../images/line.svg') center/contain no-repeat;
                transform: translateX(-50%) rotate(0);
                -webkit-transform: translateX(-50%) rotate(0);
                z-index: -1;
            }
        }
    }

    .logo{
        position: relative;
        &::before{
            background: url('../../../images/underline2.svg') center/contain no-repeat;
            z-index: -1;
            transform: translateY(-50%) rotate(0);
            -webkit-transform: translateY(-50%) rotate(0);
            top: 50%;
            left: 58%;
            height: 100%;
            position: absolute;
            width: 20%;
            text-align: center;
            content: "";
        }
        &::after{
            background: url('../../../images/underline2.svg') center/contain no-repeat;
            z-index: -1;
            transform: translateY(-50%) rotate(0);
            -webkit-transform: translateY(-50%) rotate(0);
            top: 50%;
            right: 58%;
            height: 100%;
            position: absolute;
            width: 20%;
            text-align: center;
            content: "";
        }

        img{
            border: 8px solid colors.$blue_color;
            border-radius: 50%;
            padding: 25px;
            display: block;
            margin: auto;
            width: 15%;
            box-shadow: colors.$shadow;
        }
    }

    .excellence_main_info{
        margin: -82px auto;

        .excellence_info{
            background: #fece2f;
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
            position: relative;
    
            h4{
                background: colors.$black_color;
                color: colors.$white_color;
                width: 100%;
                padding: 15px 10px;
                position: absolute;
                top: -20%;
                font-size: 20px;
                box-shadow: colors.$shadow;
                right: 0;
    
                span{
                    padding-right: 10px;
                }
            }
        }
        #sec_info{
            margin: 0 auto 0 0;
        }
    }

    .excellence_sec_tit{
        margin: 100px 0 0;

        h2{
            font-size: 40px;
            padding: 35px 0;
            text-align: center;
            position: relative;
            &::before{
                background: url('../../../images/underline2.svg') center/contain no-repeat;
                z-index: -1;
                transform: translateY(-50%) rotate(0);
                -webkit-transform: translateY(-50%) rotate(0);
                top: 50%;
                left: 58%;
                height: 100%;
                position: absolute;
                width: 10%;
                text-align: center;
                content: "";
            }
            &::after{
                background: url('../../../images/underline2.svg') center/contain no-repeat;
                z-index: -1;
                transform: translateY(-50%) rotate(0);
                -webkit-transform: translateY(-50%) rotate(0);
                top: 50%;
                right: 58%;
                height: 100%;
                position: absolute;
                width: 10%;
                text-align: center;
                content: "";
            }

            span{
                font-size: 40px;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    top: -170%;
                    left: 50%;
                    background: url('../../../images/star.svg') center/contain no-repeat;
                    text-align: center;
                    height: 150%;
                    width: 150%;
                    z-index: -1;
                    transform: translateX(-50%) rotate(0);
                    -webkit-transform: translateX(-50%) rotate(0);
                }
            }
        }
    }
    
    .excellence_info{
        p{
            font-size: 20px;
            padding-right: 50px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                right: 0;
                background: url('../../../images/star.svg') no-repeat;
                height: 40px;
                width: 40px;
            }
        }
    }

    .hidden{
        display: none;
    }
}